<section class="city-bg" id="about">
    <div class="container-about">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            	<%= image_tag "rita.png", class: "foto-rita" %>
                <h2 class="section-heading-about">Acerca de Rita</h2>
                <hr class="light">
                <p class="text-faded">Durante mi experiencia como corredora de propiedades me he dado cuenta de que no solo se realiza una transaccion comercial sino tambien un importante intercambio humano. Mi prioridad es casjhvbsdkjva vahjkbfvajdbvkuahdj vkae vjahevbaehj vkyuaerv ajehrvjhe vkaer vhea vaehjrv aehr vehv djhvkahdjv kaehr vhae djhe vhjda vjh jhsdbvjhasdv na dvjkhsbdvjhbsdjhvbas dvjhavjhds vjhasd vhjsv jhbsd vjhxbsjvhsd cjhavkyearv ajherv jweyvkawev kwuyvwayuv aywe vyukwav werh fke fgaer fmhea mhbed ahd fkage dfkgkdjhf kjhdf jhd h kjadhf ahjwe fjhd fjjfhwd fajhfjhaewf ajwe fjahewfjwahe ake gmaehjg amdb daj akjehr gaje fakedfhg ajkejghra kewhgvakgehae gkh gku3y kwuy4 kwhej ghawje gahjerg adb akgjdb jab khv adkjhva kjhfev kjrhv akejvg aekhvga krjhrva</p>
                <%= link_to "Comienza Ahora!", new_user_registration_path, class: "btn btn-default btn-xl" %>
            </div>
        </div>
    </div>
</section>




